---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-2 flex-first flex-md-unordered"></div>
        <div class="col-md-8 flex-first flex-md-unordered">
            
                <div class="mainheading">
                    <div class="section-title">
                        <h2><span>{{ page.title }}</span></h2>
                    </div>
                </div>
                <div class="article-post">
                    <section>
                        {{content}}
                    </section>
                </div>            
        </div>    
        <div class="col-md-2 flex-first flex-md-unordered"></div>
    </div>
</div>
